/* .w-100{
    display: flex;
    flex-direction: row;

} */

body {
  background-color: rgb(195, 207, 252);
  direction: rtl;
  width: 100vw;
  height: 100vh;
  /* margin-right: 10px; */
  /* text-align: center; */
  /* overflow: hidden; */
  /* width: 70vw; */
  /* height: 80vh; */
}

label,
h2,
checkbox {
  display: flex;
  text-align: left;
}

/* p {
  text-align: center;
} */

.msg {
  text-align: right;
}

.bg-color {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
  direction: ltr;
}

.radius-img {
  border-radius: 15px;
  /* height: 875px; */
  /* margin-left: 317px; */
}

.cont-page {
}

.checkbox {
  margin: 10px;
  direction: ltr;
  display: flex;
  flex-direction: row;
  position: relative;
}
.btn-wh-google,
.btn-wh-facebook {
  background-color: rgb(255, 255, 255);
  width: 40vw;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid rgb(156, 156, 156);
}

.btn-wh-facebook:hover,
.btn-wh-google:hover {
  background-color: rgb(216, 216, 250);
}

.btn-singup {
  margin-left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  /* display: flex; */
  flex-direction: row;
  background-color: rgb(140, 140, 250);
  font-weight: bold;
  font-size: 20px;
  color: white;
  border: 1px solid rgb(156, 156, 156);
  text-align: center;
}

.btn-singup:hover {
  background-color: rgb(54, 54, 255);
}

.form-control {
  border-radius: 6px;
  padding: 13px;
}

.card-body {
  font-size: 1rem;
}

.txtdc,
.txtdc1 {
  text-decoration: none;
}

.or {
  margin: 0;
  padding: 0;
}

.icon {
height: 20px;
width: 20px;
}
